p:hover {
  text-decoration: underline;
  cursor: pointer;
}


/* 로딩화면 디자인 */
.loading {
  position: relative;
  margin: auto;
  margin-top: 150px;
  background-image: url(../images/loading.gif);
  width: 300px;
  height: 300px;
  background-size: cover;
}

/* 시험 결과 페이지 디자인 */
  .exam_result_title {
    margin-left: 120px;
    margin-top: 40px;
    font-size: 9mm;
    font-weight: bold;
    display: inline-block;
  }

  .exam_result_explain {
    margin-left: 25px;
    font-size: 4.5mm;
    font-weight: bold;
    display: inline-block;
  }

  .exam_result_table {
    margin-left: 200px;
    margin-top: 40px;
    width: 1200px;
    border-collapse: collapse;
    text-align: center;
  }
  
  .records_th {
    border: 1.5px solid white;
    background-color: rgb(101,113,177);
    color: white;
    height: 50px;
    font-size: x-large;
  }

  #records_tr:nth-child(odd) {
    background-color: rgb(205,212,234);
  }

  #records_tr:nth-child(even) {
    background-color: rgb(232,235,245);
  }

  .records_td {
    font-size: large;
    font-weight: bold;
    height: 70px;
    text-align: center;
  }

  .records_td:nth-child(even) {
    border-left: 1.5px solid white;
    border-right: 1.5px solid white;
  }

  .records_delete_btn {
    width: 50px;
    height: 35px;
    background-color: rgb(101,113,177,0.3);
    border-radius: 5mm;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    margin: 5px;
    cursor: pointer;
  }



  /* 테스트 기록 상세 페이지 디자인 */

  .exam_result_box {
    margin-top: 25px;
    margin-left: 80px;
    width: 1300px;
  }

  .exam_result_detail1 {
    margin-left: 120px;
    margin-top: 40px;
    font-size: 5mm;
    font-weight: bold;
  }

  .exam_result_detail2 {
    margin-left: 60px;
    margin-top: 40px;
    font-size: 5mm;
    font-weight: bold;
  }

  .records_detail_td {
    border-right: 1.5px solid white;
    font-size: large;
    font-weight: bold;
    height: 70px;
    text-align: center;
  }

  .check_btn {
    width: 200px;
    height: 60px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
    cursor: pointer;
    border: 0;
    border-radius: 10px;

    background-color: rgb(101,113,177);
    color: white;
    font-size: x-large;
    font-weight: bold;
  }